.CreatePost {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Create__song {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}